//-----------GLOBAL TYPOHGRAPHY

//FONT-FAMILY
$font-primary: "Red Hat Display", sans-serif;

//FONT-WEIGHT
$weight-medium: 500;
$weight-black: 900;

//FONT-SIZE
$font-size-xl: 4rem;      //64px
$font-size-lg: 2.5rem;    //40px
$font-size-md: 1.125rem;  //18px
$font-size-sm: 1rem;      //16px

//LINE-HEIGHT
$line-height-lg: 1.5; //150%
$line-height-sm: 1.1; //110%

//LETTER-SPACING
$letter-spacing-def: 0;
$letter-spacing-lg: 4px;

//-----------MIXINS
@mixin text-preset-1(
    $family:    $font-primary,
    $weight:    $weight-black,
    $size:      $font-size-xl,
    $height:    $line-height-sm,
    $spacing:   $letter-spacing-def
    ) {
    font-family:    $family;
    font-weight:    $weight;
    font-size:      $size;
    line-height:    $height;
    letter-spacing: $spacing;
}

@mixin text-preset-2(
    $family:    $font-primary,
    $weight:    $weight-black,
    $size:      $font-size-lg,
    $height:    $line-height-sm,
    $spacing:   $letter-spacing-def
    ) {
    font-family:    $family;
    font-weight:    $weight;
    font-size:      $size;
    line-height:    $height;
    letter-spacing: $spacing;
}

@mixin text-preset-3(
    $family:    $font-primary,
    $weight:    $weight-black,
    $size:      $font-size-sm,
    $height:    $line-height-sm,
    $spacing:   $letter-spacing-lg
    ) {
    font-family:    $family;
    font-weight:    $weight;
    font-size:      $size;
    line-height:    $height;
    letter-spacing: $spacing;
}

@mixin text-preset-4(
    $family:    $font-primary,
    $weight:    $weight-medium,
    $size:      $font-size-md,
    $height:    $line-height-sm,
    $spacing:   $letter-spacing-def
    ) {
    font-family:    $family;
    font-weight:    $weight;
    font-size:      $size;
    line-height:    $height;
    letter-spacing: $spacing;
}

@mixin text-preset-5(
    $family:    $font-primary,
    $weight:    $weight-black,
    $size:      $font-size-sm,
    $height:    $line-height-lg,
    $spacing:   $letter-spacing-def
    ) {
    font-family:    $family;
    font-weight:    $weight;
    font-size:      $size;
    line-height:    $height;
    letter-spacing: $spacing;
}