@use './design' as *;
@use './buttons' as *;

.hero {
    overflow-x: hidden;
    width: 100%;

    padding: $spacing-800 0 $spacing-400;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: clamp($spacing-600, 7.2916vw + 1rem, 75px);

    @media (min-width: $breakpoint-tablet) {
        padding-bottom: $spacing-800;
    }
    @media (min-width: $breakpoint-desktop) {
        flex-direction: row;
        gap: clamp(127.85px, 8.878472vw, 138px);
    }

    &__img {
        &--left {
            display: none;
            
            @media (min-width: $breakpoint-desktop) {
                display: block;
                margin-top: -1.5972vw;
            }
        }
        &--right{
            display: none;

            @media (min-width: $breakpoint-desktop) {
                display: block;
                margin-bottom: -1.5972vw;
            }
        }
    }

    &__header {
        width: clamp(433px, 100%, 800px); 
        height: clamp(160px, 39.453125vw, 375.63px);  

        background: url(/images/tablet/image-hero.png) center/cover no-repeat;

        @media (min-width: $breakpoint-mid) {
            background-size: contain;
        }
        @media (min-width: $breakpoint-desktop) {
            display: none;
        }
    }

    &__content {
        width: clamp(305px, 58.37239583vw, 448.3px);

        display: flex;
        flex-direction: column;
        gap: clamp($spacing-300, 3.125vw, $spacing-400);
    }

    &__heading {
        @include text-preset-1;
        color: $color-secondary;
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $spacing-200;

        @media (min-width: $breakpoint-tablet) {
            flex-direction: row;
            justify-content: center;
        }

        &--big {
            background-color: $color-1;
            transition: all 0.4s ease-in-out;
            span {
                color: $color-1-light;
            }
            &:hover,
            &:focus {
                background-color: $color-1-hover;
            }
        }
        &--small {
            background-color: $color-2;
            transition: all 0.4s ease-in-out;
            &:hover,
            &:focus {
                background-color: $color-2-hover;
            }
        }
    }
}
