@use './design' as *;

.hero {
    overflow-x: hidden;

    padding: $spacing-800 $spacing-400 $spacing-400;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: $spacing-600;

    &__header {
        position: relative;
        width: calc(100% + 2rem);
        height: clamp(160px, 39.453125vw, 488px);
        margin-inline: -1rem;
        background: url(/images/tablet/image-hero.png) center/cover no-repeat;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: $spacing-300;
    }

    &__heading {
        @include text-preset-1;
        color: $color-secondary;
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        gap: $spacing-200;
    }
}
