@use './design' as *;
@use './number-component' as *;

.main-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: $spacing-800;
    width: clamp(260px, 82.9333vw, 415px);

    padding-top: clamp($spacing-400, 6.4vw + 0.5rem, $spacing-700);
    padding-bottom: clamp($spacing-800, 6.25vw + 1rem, $spacing-900);

    @media (min-width: $breakpoint-tablet) {
        width: clamp(680px, 88.54165vw, 1120px);
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: clamp($spacing-200, 3.125vw, $spacing-400);

        height: clamp(250px, 81.0666vw, 405px);

        @media (min-width: $breakpoint-tablet) {
            grid-template-columns: repeat(4, 1fr);
            height: clamp(160px, 20.8333vw, 256px);
    }

        & img {
            width: 100%;
            height: 100%;

            border-radius: $spacing-100;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: $spacing-400;
    }
    &__heading {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: $spacing-200;

        &--small{
        @include text-preset-3;
        color: $color-1;
        text-transform: uppercase
        }
    
        &--big {
        @include text-preset-2;
        color: $color-secondary;
        }
    }
}