@use './design' as *;
@use './number-component' as *;

.main-footer {

    &__img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $spacing-300;

    width: 100%;
    height: 375px;

    background: url(/images/mobile/image-footer.jpg);
    background-size: cover;
    }
    
    &__heading {
    @include text-preset-2;
    color: $color-secondary;
    }
}