//COLORS
$color-primary: #fff; // White
$color-secondary: #28283D; // Slate-900
$color-add-1: #87879D; // Slate-600
$color-add-2: #D1D1DF; // Slate-300

$color-button-1: #4D96A9;       //Cyan-600
$color-button-1hover: #8FE3F9;  //Cyan-300
$color-button-2: #855FB1;       //Purple-600
$color-button-2hover: #D9B8FF;  //Purple-300